<%= form_with(model: keyvalue, local: true) do |form| %>
  <% if keyvalue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(keyvalue.errors.count, "error") %> prohibited this keyvalue from being saved:</h2>

      <ul>
      <% keyvalue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :key %>
    <%= form.text_field :key %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
