<p id="notice"><%= notice %></p>

<h1>Keyvalues</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @keyvalues.each do |keyvalue| %>
      <tr>
        <td><%= keyvalue.key %></td>
        <td><%= keyvalue.value %></td>
        <td><%= link_to 'Show', keyvalue %></td>
        <td><%= link_to 'Edit', edit_keyvalue_path(keyvalue) %></td>
        <td><%= link_to 'Destroy', keyvalue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Keyvalue', new_keyvalue_path %>
